<!DOCTYPE html>
<html>
  <head>
    <title>Gmaps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2877cf98d2.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">
        <%= image_tag "logo.png", class: "header-logo", height: 70 %>
        <nav>
          <ul>
            <li class="header-nav-item"><a href="#" class="header-nav-link">New Map</a></li>
            <li class="header-nav-item"><a href="#" class="header-nav-link">Maps</a></li>
            <li class="header-nav-item"><a href="#" class="header-nav-link">Ref. Sites</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
  </body>
</html>
